body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f0f0f5;
}

.container {
    max-width: 600px;
    margin: 80px auto;
    padding: 32px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    font-weight: bolder;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

a:link,
a:visited {
    color: #38488f;
    text-decoration: none;
}